*{
    box-sizing: border-box;
}

.container-main{
    width: 94%;
    margin: 0 auto;
}

#header{
    margin-top: 13px;
}


#header .address span{
    font-size: 12px;
    font-family:'Times New Roman', Times, serif;
}

#header .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
    margin-top: 9px;
    margin-right: 9px;
    cursor: pointer;
}

#header .icons i:hover{
    transform: translateY(6px);
    transition: all 0.3s;
}


#header .search{
    font-size: 17px;
    margin-left: 39px;
    margin-top: 9px;
    cursor: pointer;
}


#header .content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9DD00;
    width: 170px;
    height: 50px;
    margin-left: 50px;
    margin-top: -10px;
}


#header .content span{
    font-weight: 800;
}

#slider .next,.prev{
    color: white;
    font-weight: 800;
}

#slider img{
    width: 100%;
    height: 100%;
}

#slider .swiper{
    position: relative;
}

.slider-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: absolute;
    margin-left: 90px;
    margin-top: 9px;
    display: inline-flex;
}

.slider-navbar .content{
    margin-left: 291px;
    display: inline-block;
    position: relative;
}

.slider-navbar .content ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slider-navbar .content ul li a{
    text-decoration: none;
    color: white;
    font-weight: 800;
}

.slider-navbar .content ul li a:hover{
    border-bottom: 3px solid #F9DD00;
}



.dropdown{
    display: none;
    z-index: 1;
    position: absolute;
    background-color: yellow;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    
}

.dropdown ul{
    display: inline-flex;
}

.dropdown ul li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dropdown ul li a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 12px;
}

.dropdown ul li a:hover{
    background-color: red;
}

.slider-navbar .content:hover .dropdown{
    display: block;
}




